
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
footer{
  text-align: center;
  color: rgb(9, 1, 1);
  
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("file:///C:/Users/91918/Videos/pexels-sora-shimazaki-5926382.jpg");
  height: 70%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}


.div2{
    background-color:white;
    width:auto;
    height: 80px;
    padding: 20px;
    box-shadow: 0 4px 8px 0  rgba(232, 213, 213, 0.19), 0 6px 20px 0 rgba(232, 213, 213, 0.19);
}
.w3-container button{
    margin-left: 708px;
    margin-bottom: 80px;
    border-radius: 5px;

}
.w3-container button:hover {
    transition: 0.6s;
}
